<div class="row mt-5">
  <div class="col-12">
    <div class="mb-5">
      <h3 class="text-center">Shopping List</h3>
      <hr>
    </div>
    <app-shopping-edit></app-shopping-edit>
    <hr>
    <small class="text-muted">{{ ingredients.length === 0 ? 'Add an ingredient with the form above' : 'Click on an item to edit it' }}</small>
    <ul class="list-group">
      <a 
      class="list-group-item clickable"
      *ngFor="let ingredient of ingredients; let i = index"
      (click)="onClickIngredient(i)"
      >
        {{ ingredient.name }} ({{ ingredient.amount }})
      </a>
    </ul>
  </div>
</div>